body{
    background-color: #dedede;
    padding: 3rem;
}

.accordian{
    background-color: white;
    padding: 2rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    position: relative;
}

.question::before{
    content: '+';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.question.active::before{
    content:'-';
}

.answer{
    max-height: 0;
    overflow: hidden;
}

.answer.active{
    max-height: fit-content;
}